parameters:
    # Adds a fallback DATABASE_URL if the env var is not set.
    # This allows you to run cache:warmup even if your
    # environment variables are not available yet.
    # You should not need to change this value.
    env(DATABASE_URL): 'sqlite:///%kernel.project_dir%/var/data.db'
    
doctrine:
    dbal:
        # if the url option is specified, it will override the above config
        #url:                  'mysql://user@database.internal:3306/main'
        # driver: 'pdo_sqlite'
        # charset: utf8mb4

        url: '%env(DATABASE_URL)%'
       
    orm:
        auto_generate_proxy_classes: '%kernel.debug%'
        naming_strategy: doctrine.orm.naming_strategy.underscore
        auto_mapping: true
        mappings:
            App:
                is_bundle: false
                type: annotation
                dir: '%kernel.project_dir%/src/Entity'
                prefix: 'App\Entity'
                alias: App
